@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
@layer base {
  :root {
    --lg: 1024px;
    --md: 768px;
    --sm: 640px;
    --page-top: 64px;
    --page-width: 1072px;
    --content-width: 640px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    display: flex;
    justify-content: center;
    font: 400 62.5%/1.5 Pretendard Variable, -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
      'Noto Sans KR', 'Malgun Gothic', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
    /* border: 1px solid black; */
    padding: 1rem;
    background-color: #efeae1;
    /* height: 100dvh; */
    /* width: 100dvw; */
  }
  nav {
    font-size: 2rem;
  }
}

@layer components {
  .toc-text {
    font-size: 1.2rem;
  }

  ::-webkit-scrollbar {
    width: 0.5rem; /* 세로축 스크롤바 폭 너비 */
    height: 0.5rem; /* 가로축 스크롤바 폭 너비 */
    background-color: #f5f5f5; /* 스크롤바 배경색 */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #bfbfbf; /* 스크롤바 색 */
    border-radius: 0.8rem; /* 스크롤바 모서리 둥글게 */
    padding: 0.2rem;
  }

  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blur-box {
    width: 100%;
    height: 112px;
    z-index: 1000;
    position: fixed;
    opacity: 0.95;
    left: 0;
    top: 0;
    background-color: #efeae1;
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(to bottom, #efeae1 4%, transparent);

    /* box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3); */
  }

  .main-box {
    width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--page-top);
    padding-bottom: var(--page-top);
    font-size: 1.6rem;
  }

  /* 모바일 대응 */

  @media (max-width: 660px) {
    body {
      font-size: 1.6rem;
    }

    .main-box {
      max-width: 90vw;
      margin-left: auto;
      margin-right: auto;
      padding-top: var(--page-top);
      padding-bottom: var(--page-top);
      font-size: 1.6rem;
    }

    .nav-menus {
      font-size: 1.2rem;
    }

    .latest-post {
      col-span: 3;
    }
  }

  .blog-logo {
    @apply text-primary -rotate-5;
  }

  .vintage-horizontal-line {
    position: relative;
    height: 1px;
    background: linear-gradient(to right, transparent, #000, transparent);
  }
  .vintage-horizontal-line::before,
  .vintage-horizontal-line::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, transparent, #000);
  }
  .vintage-horizontal-line::after {
    right: 0;
    background: linear-gradient(to left, transparent, #000);
  }

  .vintage-vertical-line {
    position: relative;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #000, transparent);
  }
  .vintage-vertical-line::before,
  .vintage-vertical-line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 50%;
    background: linear-gradient(to bottom, transparent, #000);
  }
  .vintage-vertical-line::after {
    bottom: 0;
    background: linear-gradient(to top, transparent, #000);
  }

  /* vintage square 1 */
  .vintage-border {
    position: relative;
    padding: 1rem;
    border: 1px solid rgb(50, 50, 50);
    /* border-radius: 0.4rem; */
    overflow: visible;
  }

  /* .vintage-border::before,
  .vintage-border::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid transparent;
    clip-path: polygon(
      0% 0%,
      10% 5%,
      20% 0%,
      30% 10%,
      40% 0%,
      50% 10%,
      60% 0%,
      70% 10%,
      80% 0%,
      90% 5%,
      100% 0%,
      100% 20%,
      90% 0%,
      80% 0%,
      70% 90%,
      60% 100%,
      50% 90%,
      40% 100%,
      30% 90%,
      20% 100%,
      10% 95%,
      0% 100%,
      0% 0%
    ); 
  } */

  .vintage-border::before {
    border-width: 1px;
    border-color: black;
    transform: rotate(-2deg);
    z-index: 1;
  }

  .vintage-border::after {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.7);
    transform: rotate(2deg);
    z-index: 2;
  }

  /* vintage square 2 */
  .vintage-border-2 {
    position: relative;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0px;
    overflow: visible;
  }

  .vintage-border-2::before,
  .vintage-border-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -2px;
    right: -3px;
    bottom: -5px;
    border: 2px solid transparent; /* 기본 보더는 투명하게 설정 */

    clip-path: polygon(
      0% 0%,
      10% 95%,
      20% 0%,
      30% 10%,
      40% 0%,
      50% 10%,
      60% 0%,
      70% 10%,
      80% 100%,
      90% 5%,
      100% 0%,
      100% 20%,
      90% 0%,
      80% 0%,
      70% 90%,
      60% 100%,
      50% 90%,
      40% 100%,
      30% 70%,
      20% 100%,
      10% 95%,
      0% 100%,
      0% 0%
    ); /* 클리핑 경로를 사용하여 불규칙한 패턴을 만듦 */
  }

  .vintage-border-2::before {
    border-width: 1px;
    border-color: black;
    transform: rotate(1deg);
    z-index: 1;
  }

  .vintage-border-2::after {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.7);
    transform: rotate(2deg);
    z-index: 2;
  }

  .double-border {
    position: relative;
    /* padding-top: 1rem; */
    /* padding-left: 1rem; */
    padding: 1rem;
  }
  .double-border::before,
  .double-border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* 내용과 상호작용 방지 */
  }
  .double-border::before {
    border: 2px solid black; /* 첫 번째 테두리 */
    transform: translate(2px, 2px); /* 살짝 아래로 이동 */
  }
  .double-border::after {
    border: 2px solid black; /* 두 번째 테두리 */
    transform: translate(-2px, -2px); /* 살짝 위로 이동 */
  }
  .circle-text {
    width: 100px;
    height: 100px;
  }

  .circle-text text {
    fill: #efeae1;
    /* font-family: Arial, sans-serif; */
  }

  .circle-text path {
    fill: rgb(50, 50, 50);
  }

  .circle {
    fill: rgb(50, 50, 50);
  }

  .grayscale-image {
    filter: grayscale(100%);
  }

  /* .category-link {
    z-index: 1000;
  } */
}
